<div class="row bg-white">
            <div class="twelve columns">
                <h4 class="icon-rocket">Connect yourself with the cyberspace</h4>
                <p>Choose what to connect, then hit go. Boilerplate text like this fills up this type of space.</p>
                <p class="is-small-font"><i class="icon-info"></i>The calculation will be more precise if you connect several social media.</p>
            <div class="row">
                 <button id="connect-twitter" class="six columns bg-yellow grow icon-twitter large-font">Add</button>
                 <button id="connect-facebook" class="six columns bg-yellow grow icon-facebook large-font">Add</button>
            </div>
            <div class="row">
                <button id="connect-instagram" class="six columns bg-yellow grow icon-instagram large-font">Add</button>
                <button id="connect-googleplus" class="six columns bg-yellow grow icon-gplus large-font">Add</button>
           </div>
</div>