<div class="row bg-white no-margin-bottom">
  <div class="twelve columns bump-1-rem-top no-margin-bottom">
    <h4 class="icon-rocket">Connect yourself with the cyberspace</h4>
    <p>Choose what to connect, then hit go. Boilerplate text like this fills up this type of space.</p>
    <p class="is-small-font"><i class="icon-info"></i>The calculation will be more precise if you connect several social media.</p>
    <div class="row">
      <a href="auth/twitter" id="connect-twitter" class="button large-font icon-twitter small-padding-top no-margin bg-yellow grow bump-5-px-top">Add</a>
      <a href="auth/facebook" id="connect-facebook" class="button large-font icon-facebook small-padding-top no-margin bg-yellow grow bump-5-px-top">Add</a>
      <a href="auth/instagram" id="connect-instagram" class="button large-font icon-instagram small-padding-top no-margin bg-yellow grow bump-5-px-top">Add</a>
      <a href="auth/google" id="connect-googleplus" class="button large-font icon-gplus small-padding-top no-margin bg-yellow grow bump-5-px-top">Add</a>
    </div>
    <div class="row">
      <a ng-click="hourslost.getSocialMediaData()" id="go-button" ng-disabled="hourslost.userHasAuthed()" ng-class="{ bgActive: hourslost.userHasAuthed() }" class="button icon-twitter small-padding-top no-margin grow bump-5-px-top">Go!</a>
    </div>
  </div>
  </div>
</div>
