<div class="row bg-white no-margin-bottom">
  <div class="bump-1-rem-top no-margin-bottom fifty-percent-w">
    <p class="large-icon icon-rocket center-text"></p>
	  <h4>Connect yourself with the cyberspace</h4>
    <p>The more things you connect, the more accurate the result. Hours Lost doesn't sell, share or view your data. </p>
    <p class="is-small-font"><i class="icon-info"></i>The calculation will be more precise if you connect several social media.</p>
  </div>
    <div class="row bump-5-px-top">
	    <p class="fifty-percent-w">
	      <a href="auth/twitter" id="connect-twitter" class="icon-twitter large-font single-row-on-mobile">{{values.twitter}}</a> /
	      <a href="auth/facebook" id="connect-facebook" class="large-font icon-facebook single-row-on-mobile">{{values.facebook}}</a> /
	      <a href="auth/instagram" id="connect-instagram" class="large-font icon-instagram single-row-on-mobile">{{values.instagram}}</a> /
	      <a href="auth/google" id="connect-googleplus" class="large-font icon-gplus single-row-on-mobile">{{values.google}}</a>
	    </p>
    </div>
  </div>
</div>
