<h5 class="inline-block">Drag the slider to tweak the numbers</h5>
    <p><i class="icon-info navy-font"></i>You can also change the estimates by typing.</p>
    <div class="row no-margin-bottom">
        <div class="twelve columns">
            <i class="icon-twitter one column medium-font center-text"></i>
            <input type="range" min="0" max="100" value="2" step="1" class="nine columns bump-1-rem-top">
            <input type="number" class="two columns center-text bump-5-px-top" value="2">
        </div>
    </div>
    <div class="row no-margin-bottom">
        <div class="twelve columns">
            <i class="icon-facebook one column medium-font center-text"></i>
            <input type="range" min="0" max="100" value="5" step="1" class="nine columns bump-1-rem-top">
            <input type="number" class="two columns center-text bump-5-px-top" value="5">
        </div>
    </div>
    <div class="row no-margin-bottom">
        <div class="twelve columns">
            <i class="icon-instagram one column medium-font center-text"></i>
            <input type="range" min="0" max="100" value="10" step="1" class="nine columns bump-1-rem-top">
            <input type="number" class="two columns center-text bump-5-px-top" value="10">
        </div>
    </div>
    <div class="row no-margin-bottom">
        <div class="twelve columns">
            <i class="icon-gplus one column medium-font center-text"></i>
            <input type="range" min="0" max="100" value="5" step="1" class="nine columns bump-1-rem-top">
            <input type="number" class="two columns center-text bump-5-px-top" value="5">
        </div>
    </div>
    <div class="row">
        <h5 class="twelve columns"><strong>New estimate:</strong> about 100 hours. <strong>Exact minutes:</strong>  6000.</h5>
    </div>



