<div class="bg-aqua">
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <div class="horizontal-center">
                        <div class="row bg-white dark-font">
                            <div class="twelve columns">
                                <h2 class="inline-block">Tweak your estimate.</h2>
                                <p>
                                    <strong>Be honest, no one will ever know.</strong><br>
                                    <a href="#share">(Unless you choose to share it.)</a>
                                </p>
                            </div>
                            <%- include connected_sliders.ejs %>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>