<div class="bg-city">
    <div class="container">
        <div class="row">
            <div class="twelve columns full-viewport-height">
                <div class="u-full-width horizontal-center">
                        <div class="row bg-white dark-font">
                            <div class="twelve columns">
                                <h1 class="inline-block">You've lost around 72 hours of your life.</h1>
                            </div>
                            <div class="twelve columns">
                              <h3 class="inline-block">Total minutes: 4350.</h3>
                            </div>
                            <div class="twelve columns">
                                <p class="no-margin-top"><a href="#" class="dark-font">How is this calculated?</a></p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>