<div class="bg-aqua">
    <div class="container">
        <div class="row">
                <div class="u-full-width horizontal-center bg-white twelve columns">
                    <h2 class="inline-block">Tweak your estimate.</h2>
                                <p>
                                    <strong>Be honest, no one will ever know.</strong><br>
                                    <a href="#share">(Unless you choose to share it.)</a>
                                </p>
                    <%- include connected_sliders.ejs %>
                </div>
        </div>
    </div>
</div>