<div class="bg-city">
    <div class="container">
        <div class="row">
            <div class="twelve columns full-viewport-height">
                <div class="half-viewport-width bg-white dark-font block horizontal-center">
                        <div class="row">
                            <div class="twelve columns">
                                <h1 class="inline-block">You've lost 72 hours of your life.
                                <br></be><small><a href="#" class="dark-font no-underline">How is this calculated?</a></small>
                                </h1>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                        <div class="eight columns">
                            <h3 class="inline-block">Total minutes: 4350.</h3>
                        </div>
                            <div class="four columns">
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>