<div class="bg-clock hundred-percent-w hundred-percent-h">
    <div class="container full-viewport-height">
        <div class="row">
            <div class="twelve columns bg-red-transparent white-font">
                    <h1>Social media makes you unhappy and antisocial.</h1>
                    <p class="no-margin">
                         Check your time spent below. How many hours of your life have you lost to social media?
                    </p>
            </div>
        </div>
    </div>
</div>