        <div class="row">
            <div class="fifty-percent-w">
                    <h1>Social media makes you unhappy and antisocial.</h1>
                    <p class="no-margin ">
                        Time spent in front of your computer is quite the opposite of being social, alienates you from social interaction and can even make you depressed.
                        Ever thought about how often you check your phone to keep updated with the never ending feeds of social media?
                        Maybe it's time to check yo self.

                        <strong>How many hours of your life have you lost to social media?</strong>
                    </p>
            </div>
        </div>