<div class="bg-mac hundred-percent-h hundred-percent-w">
    <div class="container full-viewport-height push-10-percent-top">
        <div class="row bg-white">
            <div class="twelve columns">
                <h4>Connect yourself with the cyberspace</h4>
                <p>Choose what to connect, then hit go. Boilerplate text like this fills up this type of space.</p>
            </div>
            <div class="twelve columns">
                <div class="row no-margin-bottom no-padding">
                    <button id="connect-twitter" class="six columns bg-yellow grow icon-twitter large-font">Add</button>
                    <button id="connect-facebook" class="six columns bg-yellow grow icon-facebook large-font">Add</button>
                </div>
                <div class="row no-margin-bottom no-padding">
                    <button id="connect-instagram" class="six columns bg-yellow grow icon-instagram large-font">Add</button>
                    <button id="connect-googleplus" class="six columns bg-yellow grow icon-gplus large-font">Add</button>
                </div>
                <div class="row no-margin-bottom no-padding">
                    <button class="twelve columns block horizontal-center bg-silver grow bottom-margin-medium" disabled> Connect first</button>
                    <p><i class="icon-info"></i><small>The calculation will be more precise if you connect several social media.</small></p>
                </div>
            </div>
        </div>
    </div>
</div>