<div class="bg-mac">
    <div class="container">
        <div class="row">
            <div class="twelve columns full-viewport-height no-margin bg-white">
                <div class="vertical-center no-margin">
                        <div class="row">
                            <div class="twelve columns">
                                <h4>Let's get you hooked up.</h4>
                                <p>Choose what to connect, then hit go. Boilerplate text like this fills up this type of space.</p>
                            </div>
                        </div>
                        <div class="row no-margin">
                            <div class="twelve columns">
                                    <p>
                                        Twitter <button class="bg-yellow button-20-rem-w u-max-full-width u-pull-right grow">Add</button>
                                    </p>
                                    <p>
                                        Facebook <button class="bg-yellow button-20-rem-w u-max-full-width u-pull-right grow">Add</button>
                                    </p>
                                    <p>
                                        Instagram <button class="bg-yellow button-20-rem-w u-max-full-width u-pull-right grow">Add</button>
                                    </p>
                                    <p>
                                        Google+ <button class="bg-yellow button-20-rem-w u-max-full-width u-pull-right grow">Add</button>
                                    </p>
                                    <p>
                                        Pinterest <button class="bg-yellow button-20-rem-w u-max-full-width u-pull-right grow">Add</button>
                                    </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                    <button class="bg-silver u-pull-right" disabled>Go!</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>