<div class="bg-clock">
    <div class="container">
        <div class="row">
            <div class="twelve columns full-viewport-height">
                <div class="half-viewport-height white-font">
                    <h1 class="bg-red-transparent inline-block">How many hours have you lost?</h1>
                    <h2 class="bg-red-transparent inline-block">Punchline. Punch punch line lineline. Punchpunch. Line.</h2>
                </div>
            </div>
        </div>
    </div>
</div>