<div class="bg-clock hundred-percent-w hundred-percent-h">
    <div class="container full-viewport-height">
        <div class="row">
            <div class="twelve columns bg-red-transparent white-font">
                    <h1>How many hours have you lost?</h1>
                    <p class="no-margin">
                        <strong>Fyra små vassa ord.</strong> Lite mer text om hur mycket tid vi spenderar på sociala medier.
                    </p>
            </div>
        </div>
    </div>
</div>