<nav class="col-xs-4 col-xs-offset-8">
    <h1 class="text-center">
        <i class="fa fa-car"></i><br>Trafikdata från SR Trafik
    </h1>
    <ul class="nav nav-tabs">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                <i class="fa fa-bolt"></i> Händelser <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">Händelse1</a></li>
                <li class="divider"></li>
                <li><a href="#dropdown2" data-toggle="tab">Händelse2</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                <i class="fa fa-list"></i> Kategorier <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">Kategori1</a></li>
                <li class="divider"></li>
                <li><a href="#dropdown2" data-toggle="tab">Kategori2</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                <i class="fa fa-building"></i> Områden <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li data-toggle="tab"><a href="#">Område1</a></li>
                <li class="divider"></li>
                <li data-toggle="tab"><a href="#">Område2</a></li>
            </ul>
        </li>
    </ul>
</nav>
