<!DOCTYPE html>
<html lang="sv">
<head>
    <title>How many hours have you lost to social media?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include partials/meta.ejs %>
    <%- include partials/css.ejs %>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body class="container-fluid" ng-app="TrafficReportApp" ng-cloak>
<div class="row"></div>
<%- include partials/scripts.ejs %>
</body>
</html>