<!DOCTYPE html>
<html lang="sv">
<head>
    <title>How many hours have you lost to social media?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include partials/meta.ejs %>
    <%- include partials/css.ejs %>
</head>
<body>
<div class="bg-clock">
    <div class="container">
        <div class="row">
            <div class="twelve columns full-viewport-height">
                <div class="half-viewport-height silver-font">
                    <h1 class="bg-red-transparent inline-block">How many hours have you lost?</h1>
                    <h2 class="bg-red-transparent inline-block">Punchline. Punch punch line lineline. Punchpunch. Line.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-mac">
    <div class="container">
        <div class="row">
            <div class="twelve columns full-viewport-height inner">
                <div class="vertical-center bg-white">
                    <div class="half-viewport-height">
                        <div class="row">
                            <h4>Let's get you hooked up.</h4>
                            <h6>Choose what to connect, then hit go.</h6>
                        </div>
                        <div class="row">
                            <div class="twelve columns">
                                    Facebook <button class="bg-yellow u-pull-right">Add</button>
                            </div>
                            <div class="twelve columns">
                                    Twitter <button class="bg-yellow u-pull-right">Add</button>
                            </div>
                            <div class="twelve columns">
                                    Instagram <button class="bg-yellow u-pull-right">Add</button>
                            </div>
                            <div class="twelve columns">
                                    <button class="bg-green u-pull-right" disabled>Go!</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include partials/scripts.ejs %>
</body>
</html>