.no-margin {
  margin: 0;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.vertical-center {
  margin: 15vh 0;
//  height: 70vh;
}

.horizontal-center {
  margin: 0 auto;
}

.offset-by-four-left {
 margin-left: 34.6666666667%;
}

.acts-as-table {
    display: table;
    height: auto;
}

.acts-as-cell {
  display: table-cell;
  vertical-align:top;
}

.bump-10-percent-top {
  margin-top: 10%;
}

.bump-1-rem-top {
  margin-top: 1rem;
}

.bump-5-px-top {
  margin-top: 0.5rem;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top {
  margin-top: 0;
}

.small-padding {
  padding: 1.5rem;
}

.small-padding-top {
  padding-top: 0.5rem;
}


.aligns-right {
  margin-left: 0.6rem;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.top-margin-medium {
  margin-top: 1.6rem;
}

.bottom-margin-medium {
  margin-bottom: 1.6rem;
}