.bg-yellow {
  background-color: $yellow;
}

.bg-aqua {
  background-color: $aqua;
}

.bg-white {
  background-color: $white;
}

.bg-green {
  background-color: $green;
}

.bg-silver {
  background-color: $silver;
}

.bg-red-transparent {
  background-color: $transparent-red;
}

.bg-mac {
  background: url('../img/mac_bg_960.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-clock {
  background: url('../img/clock_bg_960.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-city {
  background: url('../img/city_hires.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button-20-rem-w {
  width: 20rem;
}

.white-font {
  color: $white;
}

.dark-font {
  color: $black;
}
.navy-font {
  color: $navy;
}

.no-underline {
  text-decoration: none;
}

.center-text {
  text-align: center;
}

.eighty-percent-w {
  width: 80%;
}

.hundred-percent-w {
  width: 100%;
}

.fifty-percent-w {
  width: 50%;
}

.hundred-percent-h {
  height: 100%;
  overflow: auto;
}
@media (min-width: 400px) {
  .large-font {
    font-size: 2.9rem;
  }
  .button {
    margin: 1.9rem;
  }
}


@media (min-width: 550px) {
  .large-font {
    font-size: 3.2rem;
  }
  .medium-font {
    font-size: 2.3rem;
  }
}