<div class="bg-aqua">
	<div class="bg-white">
		<h5 class="inline-block"><i class="icon-info navy-font"></i>Drag the slider to tweak the numbers</h5>
		    <div class="row no-margin-bottom">
		        <div class="twelve columns">
		            <i class="icon-twitter two columns medium-font center-text"></i>
		            <input type="range" min="0" max="100" ng-model="estimates.tweet" step="1" class="ten columns is-90-percent-w u-pull-right">
			          <p class="twelve columns center-text">{{estimates.tweet}}</p>
		        </div>
		    </div>
		    <div class="row no-margin-bottom">
		        <div class="twelve columns">
		            <i class="icon-facebook two columns medium-font center-text"></i>
		            <input type="range" min="0" max="100" ng-model="estimates.facebookPost" step="1" class="ten columns is-90-percent-w u-pull-right">
								<p class="twelve columns center-text">{{estimates.facebookPost}}</p>

		        </div>
		    </div>
		    <div class="row no-margin-bottom">
		        <div class="twelve columns">
		            <i class="icon-instagram two columns medium-font center-text"></i>
		            <input type="range" min="0" max="100" ng-model="estimates.instagram" step="1" class="ten columns is-90-percent-w u-pull-right">
			          <p class="twelve columns center-text">{{estimates.instagram}}</p>

		        </div>
		    </div>
		    <div class="row no-margin-bottom">
		        <div class="twelve columns">
		            <i class="icon-gplus two columns medium-font center-text"></i>
		            <input type="range" min="0" max="100" ng-model="estimates.gplusPost" step="1" class="ten columns is-90-percent-w u-pull-right">
		            <p class="twelve columns center-text">{{estimates.gplusPost}}</p>

		        </div>
		    </div>
		    <div class="row">
		        <h5 class="twelve columns"><strong>New estimate:</strong> about {{estimates}}. <strong>Exact minutes:</strong> {{estimates}}.</h5>
		    </div>
		</div>
</div>