<h5 class="inline-block">Drag the slider to tweak the numbers</h5>
    <p><i class="icon-info navy-font"></i>You can also change the estimates by typing.</p>
    <div class="row no-margin-bottom">
        <div class="twelve columns">
            <i class="icon-twitter one column medium-font center-text"></i>
            <input type="range" min="0" max="100" value="{{tweetEstimate}}" step="1" class="nine columns bump-1-rem-top">
            <input type="number" class="two columns center-text bump-5-px-top" value="{{tweetEstimate}}">
        </div>
    </div>
    <div class="row no-margin-bottom">
        <div class="twelve columns">
            <i class="icon-facebook one column medium-font center-text"></i>
            <input type="range" min="0" max="100" value="{{facebookEstimate}}" step="1" class="nine columns bump-1-rem-top">
            <input type="number" class="two columns center-text bump-5-px-top" value="{{facebookEstimate}}">
        </div>
    </div>
    <div class="row no-margin-bottom">
        <div class="twelve columns">
            <i class="icon-instagram one column medium-font center-text"></i>
            <input type="range" min="0" max="100" value="{{instagramEstimate}}" step="1" class="nine columns bump-1-rem-top">
            <input type="number" class="two columns center-text bump-5-px-top" value="{{instagramEstimate}}">
        </div>
    </div>
    <div class="row no-margin-bottom">
        <div class="twelve columns">
            <i class="icon-gplus one column medium-font center-text"></i>
            <input type="range" min="0" max="100" value="{{gplusEstimate}}" step="1" class="nine columns bump-1-rem-top">
            <input type="number" class="two columns center-text bump-5-px-top" value="{{gplusEstimate}}">
        </div>
    </div>
    <div class="row">
        <h5 class="twelve columns"><strong>New estimate:</strong> about a lot. <strong>Exact minutes:</strong> {{totalEstimate}}.</h5>
    </div>