<div class="row bg-white no-margin-bottom">
  <div class="twelve columns bump-1-rem-top no-margin-bottom">
    <h4 class="icon-rocket">Ironically, I urge you to share this.</h4>
    <div class="row aligns-right no-margin-bottom no-padding-bottom">
	    <textarea class="aligns-right is-90-percent-w" name="shareArea" id="share" cols="30" rows="10" placeholder="{{sharemessage}}"></textarea>
    </div>
	  <div class="row aligns-right no-margin no-padding">
		  <p>
		    <i class="large-font icon-twitter no-margin-top no-padding-top"></i>
		    <i class="large-font icon-facebook no-margin-top no-padding-top"></i>
		    <i class="large-font icon-instagram no-margin-top no-padding-top"></i>
		    <i class="large-font icon-gplus no-margin-top no-padding-top"></i>
		  </p>
    </div>
  </div>
  </div>
</div>